---
const { content } = Astro.props;
const { content: text = "" } = content;
---

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <div class="prose prose-lg dark:prose-invert max-w-none" set:html={text}></div>
        </div>
    </div>
</section>
